* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_2 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.container-prof {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.header-prof {
    position: absolute;
    width: 100%;
    top: 0;
}

.profile-prof {
    position: absolute;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
}

.container-taxi {
    width: 486px;
    height: 471px;
    background-color: white;
    position: absolute;
    top: 130px;
    left: 30px;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container-taxi .unactive {
    opacity: 0;
    pointer-events: none;
}

.container-taxi-nocard {
    position: absolute;
    top: 150px;
    left: 30px;
    width: 486px;
    height: 268px;
    background-color: white;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}



