.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.left-side {
    position: relative;
    width: 485px;
    height: 100vh;
    background-color: #1c1a19;
}

.img_3 {
    position: absolute;
    bottom: 398px;
    left: 146px;
}

.rigth-side {
    position: relative;
    width: calc(100vw - 485px);
    height: 100%;
}

.log-in-form{
    position: absolute;
    width: 560px;
    height: 541px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    justify-content: center;       
}

.log-in-form h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-top: 56px;
}

.log-in-form p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-top: 15px;
    opacity: 0.8;
}

.log-in-form h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    margin-top: 10px;
    opacity: 0.8;
}

.cont-form { 
    width: 355px;
    margin: 0 auto;
    position: relative;
}

.new-user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-user {
    border: none;
    background-color: transparent;

}

#user {
    color: #FDBF5A;
    margin-left: 5px;
    cursor: pointer;
}

#password-2 {
    cursor: pointer;
    position: absolute;
    top: 165px;
    right: 0;
}

#password-2:hover {
    color: #FDBF5A;
}

.date-picker {
    position: absolute;
    bottom: 120px;
}

.cont-form {
    margin-top: 20px;
}

.cont-form p {
    text-align: left;
    margin-top: 5px;
}

.css-1lh4mi6-MuiFormControl-root-MuiTextField-root {
    height: 80px;
}

