.cart {
    display: flex;
    opacity: 1;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    
}

.unactive {
    opacity: 0;
    pointer-events: none;
}

.form {
    text-align: center;
    width: 888px;
    height: 588px;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
    margin-top: 124px;
    position: relative;
    z-index: 2;
}

.form h1 {
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: 13px;
}

.form p {
    font-size: 18px;
}

.login_data {
    display: flex;
    flex-wrap: wrap;
    width: 355px;
    margin-left: 44px;
}

.login_data_2 {
    text-align: left;
    display: inline-block;
    width: 50%;
    padding-right: 15px;
}

.login_data_2_2 {
    text-align: left;
    display: inline-block;
    width: 50%;
}

.login_id {
    height: 90px;
    width: 100%;
}

.btn_save {
    position: absolute;
    bottom: 67px;
    left: 0;
    right: 0;
}

.cart-info {
    position: absolute;
    width: 347px;
    height: 182px;
    box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.1);
    background-color: rgb(209, 208, 208);
    border-radius: 10px;
    top: 210px;
    right: 43px;
}

.cart_id {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 252px;
    height: 25px;
}

.cart-info h1 {
    text-align: left;
    font-size: 21px;
    line-height: 25px;
    word-spacing: 10px;
}

#logo_2 {
    position: absolute;
    top: 18px;
    left: 28px;
}

.data_cart {
    position: absolute;
    top: -35px;
    right: 19px;
}

.data_cart h1 {
    font-size: 12px;
}

#vector {
    position: absolute;
    bottom: 16px;
    left: 28px;
}

.cart_icon {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.css-1d1r5q-MuiFormHelperText-root.Mui-error {
    color: #d32f2f;
    font-size: 12px;
}

.btn_close {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.btn_close:hover{
    color: #FDBF5A;
}



