.modal {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: -150px;
    left: -110px;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 580px;
    height: 631px;

}

.modal__container {
    width: 355px;
    margin: 0 auto;
}

#btn_text {
    margin-top: 5px;
}

.modal-profile {
    width: 822px;
    height: 345px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;  
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 42px;
}

.modal-profile h1 {
    margin-top: 90px;
    margin-bottom: 20px;
}

.modal-profile p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #7B7B7B;
}

